.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.eslintrc.js
webpack

**/*.map
**/*.ts
node_modules
.github
.git

usefulLinks.txt