.vscode/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.lint.json
**/.eslintrc.json
**/.eslintrc.js
webpack

**/*.map
**/*.ts
node_modules
.github
.git

usefulLinks.txt
pnpm-lock.yaml
images/*
!images/logo
